<h1>
  {{name}}
</h1>

<input type="text" pInputText/>

<p-dataTable [value]="results" [rows]="5" [paginator]="true">
  <p-column field="id" header="#" [sortable]="true"></p-column>
  <p-column field="threadName" header="Thread name" [sortable]="true"></p-column>
  <p-column field="filePath" header="File path" [sortable]="true"></p-column>
  <p-column field="lineNumber" header="Line number" [sortable]="true"></p-column>
  <p-column field="line" header="Line" [sortable]="true"></p-column>
</p-dataTable>
