<h1>
  {{name}}
</h1>

<input type="text" id="value" #date_pickup (keyup.enter)="datePicker.updateDate(date_pickup.value)" (blur)="datePicker.updateDate(date_pickup.value)"
       [value]="datePicker.value | date:'yyyy-MM-dd'" name="value">
<p>{{datePicker.value}}</p>

<p-dataTable [value]="result" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt reorderableColumns="true"
             [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadLazy($event)"
             [rowsPerPageOptions]="[5,10,20,30]" resizableColumns="true">
  <p-column field="id" header="#" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column field="threadName" header="Thread name" [sortable]="true"></p-column>
  <p-column field="filePath" header="File path" [sortable]="true" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
  <p-column field="lineNumber" header="Line number" [sortable]="true"></p-column>
  <p-column field="line" header="Line" [sortable]="true" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
</p-dataTable>
